header{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6950A1;
  width:  595px;
  height: 65px;
  margin-top: -10px;
}

header  img {
    margin-left: 10px;
    }

header h1 {
    margin-right:15px;
    color: #FFF;
    font-family: 'Poppins';
    font-weight: lighter;
  }

  .custom-footer {
    padding: auto;
    width:  595px;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
    border: solid 5px #6950A1;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  .small-text {
    font-size: 8px; /* Tamanho de fonte pequeno */
    margin-bottom: -25px; /* Espaçamento inferior para separar do contêiner de imagens */
    font-weight: bold;
    font-family: 'Poppins';
    margin-left: 5px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  .image-container img {
    margin-right: auto; 
  }


  .game-list {
    height: auto;
    width:  595px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 25%;
    margin-top: 4%;
  }

  .card {
    width: 200px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
    margin-bottom: 10px;
    background-color: #f7f7f7; /* Add background color for better visibility */
    border: 1px solid #e3e2e2; /* Add border for better visibility */
    border-radius: 6px;
  }

  .gameimg{ 
    width: 189px;
    height: 199px;
  }

  .cartimg{
    width: 189px;
    height: auto;
    margin-bottom: 100px;
    padding-right: 20px;
   
  }
  
  input[type='checkbox'] {
    margin-left: -120px;
    margin-top: -28px;
   
  }

  input[type='checkbox']:checked {
    appearance: none;
    border: 6px solid #6950A1;
    background-color: #6950A1;
    border-radius: 2px;
  }

  input[type='checkbox']:hover{
    cursor: pointer;
  }

  h3 {
    margin-bottom: 5px; 
    line-height: 0%;
    font-family: 'Poppins'
  }
  
  p {
    margin-bottom: 10px; 
    margin-left: 25px;
    font-family: 'Poppins'
  }
  
  .price-container {
    display: flex;
    align-items: center;
  }

  .counting{
    margin-left: 68%;
    position: absolute;
    margin-top: -65px;
    background-color: #6950A1;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 8px;
    color: #FFF;
  }

.gamespreços{
  font-weight: 600;
  font-family: 'Poppins';
}

.cartpreços{
  font-weight: 600;
  font-family: 'Poppins';
  margin-right: 70%;
}

.gocarbtn{
  background-color: #6950A1;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin-left: 770px;
  font-weight: bold;
  font-family: 'Poppins';
  margin-top: 20px;
}

.gocarbtn:hover{
  cursor: pointer;
}

.gamesalestittle{
  margin-left: 27%;
  font-family: 'Poppins';
  font-weight:400;
}

.gamename{
  font-size: auto;
  font-size:medium ;
}

.cartname{
  font-size: auto;
  font-size:medium ;
  margin-top: -80px;
  margin-right: 67%;
}

.game-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-information {
  flex: 1; /* Allow the cart-information to expand and take available space */
  text-align: center; 
}

.game-cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px; /* Adjust the margin as needed */
  
}
.quantity-controls {
position: absolute;
margin-left: 22%;
margin-top: 60px;
}

.quantidadetext{
  font-weight: 600;
  
  margin-top: -5px;
  margin-right: 70%;
}

.cart-title{
  margin-left: 26%;
  font-family: 'Poppins';
  font-weight: 400;
  margin-bottom: 30px;
}

.cart-list{
  margin-left: 26%;
}

.checkout-btn{
  background-color: #6950A1;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin-left: 320px;
  font-weight: bold;
  font-family: 'Poppins';
  margin-top: 20px;
}
.checkout-btn:hover{
  cursor: pointer;
}

.return-btn{
  background-color: #6950A1;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin-left: 290px;
  font-weight: bold;
  font-family: 'Poppins';
  
}

.return-btn:hover{
  cursor: pointer;
}

.total-price{
  padding-top: 5%;
  margin-left: 26%;
  font-weight: 600;
  font-family: 'Poppins';

}

.increase-btn{
  background-color: #6950A1;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  height: 30px;
}

.increase-btn:hover{
  cursor: pointer;
}

.decrease-btn{
  background-color: #6950A1;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  height: 30px;
 
}

.decrease-btn:hover{
  cursor: pointer;
}

.quantity-controls{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.item-count{
  padding-right: 20px;
  margin-top: 5px;
}

.checkout-container{
  margin-left: 26%;
}

.confirm-purchase-btn{
  background-color: #6950A1;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin-left: 220px;
  font-weight: bold;
  font-family: 'Poppins';
  margin-top: 20px;
}

.confirm-purchase-btn:hover{
  cursor: pointer;
}

.checkout-title{
  
  font-family: 'Poppins';
  font-weight: 400;
}

.checkout-items {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Negative margin to create spacing between items */
}

.checkout-item {
  
  padding: 10px; /* Add padding to each item for spacing */
  margin: 10px; /* Add margin to each item for spacing */
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f7f7f7; /* Add background color for better visibility */
  border: 1px solid #ccc; /* Add border for better visibility */
}

.checkout-summary{
  font-weight: bold;
  margin-bottom: 60px ;
}



html,
body {
  height: auto;
  font-family: 'Poppins';
}